<div class="jumbotron">


<h1>KOTH 2015</h1>
<p>
	<strong>Welcome to King of the Hill 2015</strong>
</p>	
 	
</div> 	
</p>We know you have been waiting for it, and it is back for another year. King Of The Hill or as you may be more familiar with, The KOTH. We have grown every year, and are expecting to do so this year, too. The competition will be fierce...

This is a winner-take-all, National Football League survivor-style pool, as each week's winners advance, while the losers are eliminated. You may enter as many times as you like. Each entry must have a different name.</p>
<p>Pick one team each week. If they win, you go on. If they lose, you are toast.</p>
