<div>
    <h2>Owners</h2>
    <% @owners.each do |owner| %>
        <ul>
	    <li><%= owner.name %></li>
	    
	</ul>
    <% end %>
</div>
<div>
    <h2>Entries</h2>
    <% @entries.each do |entry| %>
	<ul>
	    <li><%= owner.name %></li>
	    
	</ul>
    <% end %>
</div>